<!-- your_template.html -->

{% extends 'employe.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />

    <!-- employee_form.html -->

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
      <head>
        <style>
          .container {
            max-width: 600px;
            margin: auto;
          }
          .form-group {
            margin-bottom: 1rem;
          }
        </style>

        <meta charset="UTF-8" />
        <title>Employee Form</title>
        <link
          rel="stylesheet"
          type="text/css"
          href="{% static 'css/bootstrap.min.css' %}"
        />
      </head>
      <body>
        <div class="container">
          <h2>Employee Form</h2>
          <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
              {{ form.name.label_tag }} {{ form.name }}
            </div>
            <div class="form-group">
              {{ form.position.label_tag }} {{ form.position }}
            </div>
            <div class="form-group">
              {{ form.age.label_tag }} {{ form.age }}
            </div>
            <div class="form-group">{{ form.tc.label_tag }} {{ form.tc }}</div>

            <div class="form-group">
              {{ form.title.label_tag }} {{ form.title }}
            </div>

            <div class="form-group">
              <label for="{{ form.phone.id_for_label }}"> Number</label>
              {{ form.phone }}
            </div>

            <div class="form-group">
              <label for="{{ form.phone_2.id_for_label }}"
                >ُSecound Number</label
              >
              {{ form.phone_2 }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      </body>
    </html>

    {%endblock%}
  </head>
</html>
