{% extends 'usd_bar.html' %} {% block content %} {% load static %}

<div class="container mt-5">
  <h1 class="text-center mb-4">jar list</h1>
  <a href="{% url 'addjar' %}" class="btn btn-info btn-sm">add jar</a>

  <a href="{% url 'download_jar_csv' %}" class="btn btn-info btn-sm">export</a>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Jar name</th>

        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in form %}
      <tr>
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.jar_name }}</td>

        <td>
          <a href=" {% url 'fatch_jar' i.id %}" class="btn btn-info btn-sm"
            >View</a
          >
          <a href="{% url 'update_jar' i.id  %}" class="btn btn-info btn-sm"
            >Edit</a
          >
          <!-- Add more actions if needed -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
