{% extends 'side_bar.html' %} {% block content %} {% load static %}

<div class="container mt-5">
  <h1 class="text-center mb-4">Costomers List</h1>

  <!-- Make table responsive -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col" class="d-none d-md-table-cell">المعرف</th>
          <th scope="col">الاسم</th>
          <th scope="col" class="d-none d-md-table-cell">الايمل</th>

          <th scope="col" class="d-none d-md-table-cell">الشركة</th>
          <th scope="col" class="d-none d-md-table-cell">الرقم الضريبي</th>

          <th scope="col" style="width: 150px">الاجراءات</th>
        </tr>
      </thead>
      <tbody>
        {% for i in form %}
        <tr>
          <th scope="row" class="d-none d-md-table-cell">{{ i.id }}</th>
          <td>{{ i.name }}</td>
          <td class="d-none d-md-table-cell">{{ i.email }}</td>
          <td class="d-none d-md-table-cell">{{ i.company }}</td>
          <td class="d-none d-md-table-cell">{{ i.tex }}</td>

          <td>
            <a
              href="{% url 'customer_bills_chart_admin' i.id %}"
              class="btn btn-info btn-sm"
              >View</a
            >
            <a href="{% url 'edit_customer' i.id %}" class="btn btn-info btn-sm"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
