{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container mt-5">
  <h1 class="text-center mb-4">costomers List</h1>
  <a href="{% url 'add_costomer' %}" class="btn btn-info btn-sm"
    >add costomer</a
  >

  <a href="{% url 'download_costomers_csv' %}" class="btn btn-info btn-sm"
    >export</a
  >

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">company</th>
        <th scope="col">Is Company</th>
        <th scope="col">tex</th>

        <th scope="col">Actions</th>
        <!-- Added Actions column for edit/view links -->
      </tr>
    </thead>
    <tbody>
      {% for i in form %}
      <tr>
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.number }}</td>
        <td>{{ i.company }}</td>
        <td>{{ i.is_company|yesno:"Yes,No" }}</td>
        <!-- Better readability -->
        <td>{{ i.tex }}</td>

        <td>
          <a href="{% url 'fatch_costomers' i.id %}" class="btn btn-info btn-sm"
            >View</a
          >
          <a
            href="{% url 'update_costomers' i.id %}"
            class="btn btn-info btn-sm"
            >Edit</a
          >
          <!-- Add more actions if needed -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
