<!-- templates/pyment/add.html -->
{% extends 'employe.html' %} {% block content %} {% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'test/test.css' %}" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    integrity="sha512-JjP4NvT6YsxHRIgJ7D5Y4VQMSuJihEw3zlPcBbXwZfNfRLIvFGIs/NhRQy5n9FWv7JPLiKKaTl6iDBXPzWsh5w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<div class="container mt-5">
  <h3>{{employee.name}}</h3>
  <h3>الرصيد {{employee.calculate_balance}}</h3>
  <div class="button-group">
    <a
      href="{% url 'edit_employee' employee.id %}"
      class="btn btn-primary btn-sm"
      >تعديل</a
    >
    <a
      href="{% url 'serch_result' employee.id %}"
      class="btn btn-secondary btn-sm"
      >عرض</a
    >
    <a
      href="{% url 'employee_payment_view' employee.id %}"
      class="btn btn-success btn-sm"
      >دفعة</a
    >
  </div>

  {% if messages %}
  <div class="alert alert-danger">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}

  <form method="post" class="mb-5">
    {% csrf_token %}
    <div class="form-group">
      {{ form.amount.label_tag }} {{ form.amount }} {% if form.amount.errors %}
      <div class="alert alert-danger">{{ form.amount.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.note.label_tag }} {{ form.note }} {% if form.note.errors %}
      <div class="alert alert-danger">{{ form.note.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.date.label_tag }} {{ form.date }} {% if form.date.errors %}
      <div class="alert alert-danger">{{ form.date.errors }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Create Payment</button>
  </form>

  <h2>Last Payments</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Note</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in last_payments %}
      <tr>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.date }}</td>
        <td>{{ payment.note }}</td>
        <td>
          <form
            action="{% url 'delete_payment' payment.id %}"
            method="post"
            style="display: inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No payments found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
