{% extends 'usd_bar.html' %} {% block content %}
<div class="container">
  <div class="add-clint-container border">
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      integrity="sha512-JjP4NvT6YsxHRIgJ7D5Y4VQMSuJihEw3zlPcBbXwZfNfRLIvFGIs/NhRQy5n9FWv7JPLiKKaTl6iDBXPzWsh5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <div class="container">
      <div class="add-clint-container border">
        <a href="{% url 'uplode_ProductHam' %}" class="btn btn-primary right"
          >uplode csv</a
        >
        <h2 class="mt-5">Add Product</h2>

        <form method="post">
          {% csrf_token %}
          <div class="form-group row">
            <label
              for="{{ form.product_name.id_for_label }}"
              class="col-md-3 col-form-label text-md-right"
              >product Name:</label
            >
            <div class="col-md-9">{{ form.product_name }}</div>
          </div>
          <div class="form-group row">
            <label
              for="{{ form.top.id_for_label }}"
              class="col-md-3 col-form-label text-md-right"
              >Top kg :</label
            >
            <div class="col-md-9">{{ form.top }}</div>
          </div>
          <div class="form-group row">
            <label
              for="{{ form.percentage.id_for_label }}"
              class="col-md-3 col-form-label text-md-right"
              >percentage:</label
            >
            <div class="col-md-9">{{ form.percentage }}</div>
          </div>
          <div class="form-group row">
            <label
              for="{{ form.image.id_for_label }}"
              class="col-md-3 col-form-label text-md-right"
              >Image URL:</label
            >
            <div class="col-md-9">{{ form.image }}</div>
          </div>
          <div class="form-group row">
            <div class="offset-md-3 col-md-9">
              <button type="submit" class="btn btn-primary">Add product</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
